html,body{
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
}
body{
    background-color: #FFFFFA;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  160px  auto auto;

    grid-template-areas: 
    "header"
    "main"
    "footer";
}
h1{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
    margin: auto;
}
h2{
    
}
h3{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
}
p{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
    margin: auto;
}
header{
    grid-area: header;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:   160px;

    grid-template-areas: 
    "hbackground";
}

header svg{
    grid-area: hbackground;
    height: 130px;
    width: 100%;
    margin-top: 00px;
}
header ellipse {
    fill:white;
    stroke: black;
    stroke-width: 2px;
}
header .headerbackground{
    grid-area: hbackground;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .fakeheader{
    grid-area: hbackground;
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .fakeheader a {
    height: 50%;
    text-decoration: none;

}
header .fakeheader a h3{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

    padding: 5px 15px ;
    margin: auto;
}
#main{
    grid-area: main;
    margin: 0px 10%;
}
#main .splitline{
    width: 40%;
    color: #3DCD58;
    border-radius: 2px;
    border-width: 2px;
    border-style:solid;
    box-shadow: 0px 0px 3px #3dcd57;
}


footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    grid-template-areas: 
    "stack";
    margin-top: 50px;

}
footer svg{
    grid-area: stack;
    height: 250px;
    width: 100%;
    margin-bottom: -10px;
}
footer ellipse {
    fill:#ECECEC;
    stroke: #b1b1b1;
    stroke-width: 2px;
}

footer .footerinfo{
    grid-area: stack;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    grid-template-areas: 
    "CI PO FU";
    margin: 0px 10%;
    margin-top: 50px;
}


footer .iconbox{
    display: flex;
    justify-content:flex-start;
}

footer .iconbox i{
    margin: 0px 5px;
    font-size: 50px;
    color: #3dcd57;
}

