header .fakeheader #headerlink1{
    background-color: #42B4E6;
    border-radius: 20px;
    color: white;
}
h1 {
    text-align: center;
}
#gallery{
    background-color: red;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background: url("../pictures/index/elkon.jpg") 0 0 no-repeat;
    background-position: center; 
    background-size: contain;
    display: flex;
}
#gallery a{
    cursor: pointer;
    margin: auto;
}
.fa-solid.fa-chevron-left, .fa-solid.fa-chevron-right{
    font-size: 100px;  
    color: #000000;
    text-shadow: 0px 0px 5px #ffffffa0;
}
.fa-solid.fa-chevron-left:hover, .fa-solid.fa-chevron-right:hover{
    color: #3f3f3f;
}
.calltoaction{
    background-color: #42B4E6;
    height: 100px;
    width: 25%;
    display:flex;
    margin: 20px auto;
    padding: 0px 10px;
    border-radius: 50px;
    box-shadow: 0px 5px 20px #42B4E6;
    justify-content: center;
    text-decoration: none;
}
.calltoaction h2{
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}
.info{
    background-color: #FFFFFA;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px auto;

    grid-template-areas: 
    "h2 vid"
    "p vid";
    align-items: center;
}
.info .infovid {
    grid-area: vid;
    width: 100%;
    background-size: contain;
}
.info p, .info h2{
    margin: 10px 10%;
    padding: 10px;
}
