header .fakeheader #headerlink4{
    background-color: #42B4E6;
    border-radius: 20px;
    color: white;
}
#main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);

    grid-template-areas: 
    "titel"
    "text"
    "info";
}
h1{
    text-align: center;
    grid-area: titel;
}
#main p{
    margin: 20px 30%;
}

.info{
    grid-area: info;
    display: flex;

}
.info div{
    width: 50%
}