header .fakeheader #headerlink3{
    background-color: #42B4E6;
    border-radius: 20px;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:   auto;

    grid-template-areas: 
    "info map";
}


.info{
    grid-area: info;

}
#checkboxList{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    grid-template-areas: 
    "C1 C2";
}
#checkboxList label{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
    padding: 5px;
}
#checkboxList input{
    margin: 0px auto;
    margin-top: 15px;

}



.map{
    grid-area: map;
    display: block;
    width: 550px;
    height: 550px;

    background: url("../pictures/activities/map.png") 0 0 no-repeat;
    background-position: center; 
    background-size: contain;
}
#innermap{
    display: grid;
    width: 100%;
    height: 68%;
    margin-top: 226px;
    margin-left: 74px;
    margin-right: 60px;
    grid-template-columns: 65px 33px 65px 60px 65px 48px 65px;
    grid-template-rows: 67px 14px 67px 5px 67px;
    grid-template-areas: 
    "A0 . . . . . A1"
    ". . . . . . ."
    ". . A2 . A3 . ."
    ". . . . . . ."
    "A4 . . . . . A5";
}
#innermap div{
    display: none;
    width: 66px;
    height: 69px;
    background-color: #42b5e68a;
    box-shadow: 0px 0px 10px #30b3eb;
}
@media(max-width: 1100px){
    .container{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    
        grid-template-areas: 
        "info"
        "map";
    }
    .map{
        margin-top: 30px;
    }
    
}

#activitycardlist{
    display: flex;
    flex-wrap: wrap;
}
#card{
    border-style: none;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "pic"
    "text";
    width: 300px;
    min-height: 200px;
    margin: 50px auto;
    background-color: #008cff;
    transition: 0.5s;

}
#card div{
    grid-area: pic;
    overflow: hidden;
}

#card img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    margin: 0px auto;
    transition: 0.5s;
}
#card #text h2{
    margin: 5px 0px;
    color: #ffe678;
}
#card #text p{
    color: #ffffff;
    margin-left: 5px;
    font-size: 18px;
}

#card #text{
    grid-area: text;
    border-style: none;
    border-radius: 0px 0px 5px 5px;
    padding: 10px 20px;
    background-color: #008cff;
    color: white;
    font-style: normal;
    font-size:large;
    min-height: 100px;
    margin: 0px;
    transition: 0.5s;
    margin-top: -20px;
}

#card:hover #text, #card:hover{
    background-color: #30b3eb;
}
#card:hover img{
    transform: scale(1.2);
}