body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('mrdollaroldclose_img.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

header {
    background-color: gold;
    color: #000000;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: gold;
    color: black;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #ffcc00;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ffe100;
    color: rgb(0, 0, 0);
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #635107;
    color: rgb(0, 0, 0);
  }
